/* font */
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;400;500;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1000px;
  margin: 0 auto;
  /* border: 2px solid red; */
}
.btn {
  border-radius: 3px;
  background-color: #111b47;
  color: white;
  outline: none;
  border: 2px solid #111b47;
  cursor: pointer;
}
.btn.btn-alt {
  background-color: white;
  color: #111b47;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  text-decoration: none;
  font-family: "Sora", sans-serif;
}

/* NAVIGATION */
nav {
  /* border: 2px solid red; */
}
nav .container {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .nav-logo {
  width: 120px;
}
nav .nav-list .nav-item {
  margin-left: 10px;
  font-weight: bold;
  color: #929ecc;
}
nav .nav-list .btn {
  padding: 3px 24px;
  color: white;
  font-size: 14px;
}

/* ABOUT SECTION */
.section-about {
  padding-top: 20px;
}
.section-about .about-svg {
  position: absolute;
  height: 500px;
  right: -350px;
  bottom: 0;
  z-index: -1;
}
.section-about .container {
  position: relative;
  display: flex;
  flex-direction: column;
}
.about-info-container {
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 2px solid red; */
}
.about-info {
  width: 550px;
  display: flex;
  flex-direction: column;
}
.about-info h1 {
  font-size: 35px;
  letter-spacing: 2px;
  font-weight: 600;
  color: #091133;
  margin-bottom: 20px;
}
.about-info p {
  font-size: 15px;
  color: #505f98;
  margin-bottom: 30px;
}
.about-info .btn-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.about-info .btn-container button {
  width: 200px;
  padding: 5px 0;
  margin-right: 30px;
}
.about-illust {
  width: 400px;
}
